body {
    margin: auto;
    padding: 20px;
    font-family: -apple-system, 'Poppins', BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: #41a6a4;
    color: #333333;
    background-image: url('https://i.imgur.com/8xLFBff.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    background: rgb(89, 150, 189, 0.7); /* Semi-transparent background to see the image through */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #343a40;
    font-size: 24px;
    margin-bottom: 15px;
}

label {
    color: #495057;
    font-weight: bold;
    margin-bottom: 5px;
}

.centered-textarea {
    color: #495057;
    display: flex;
    margin: 0 auto;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    resize: none;
}

.btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
}

.footer {
    background-color: rgba(241, 241, 241, 0.8); /* Semi-transparent background to see the image through */
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #495057;
    margin-top: 50px;
    border-top: 1px solid #e9ecef;
}

.footer p {
    margin: 0;
    display: inline-block;
    margin-right: 30px;
}

.container-buttons {
    margin-top: 20px;
    text-align: center;
}

.container-buttons .btn {
    margin: 5px;
}

#result {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(233, 236, 239, 0.8); /* Semi-transparent background to see the image through */
}

.center-placeholder::placeholder {
    text-align: center;
}

.form-check {
    display: flex;
    margin-top: 10px;
    padding: 14px;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background to see the image through */
}

.form-check:hover {
    background-color: rgba(248, 249, 250, 0.8); /* Semi-transparent background to see the image through */
    border-color: #dee2e6;
}

.form-check-input {
    margin-right: 10px;
    opacity: 0;
}

.disable {
    display: none;
}

#inputOfPrefix, #inputOfAdmin, #inputOfBotName {
    padding: 13px;
    width: 200px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background to see the image through */
}

#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
    border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal), #adminOfCommands:not(.modal) {
    box-shadow: none !important;
}

video {
    max-width: 100%;
    margin-bottom: 20px;
    cursor: default;
    border-radius: 10px;
    border: 2px solid #ced4da;
}

#video-container {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
}

#video {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

p {
    color: #343a40; /* Ensure the text color contrasts with the background */
}
